@charset "UTF-8";

section.products > picture > img {
    width: 450px; 
}

section.products > button {
   width: 220px;
   height: 55px;
   transform: translate(47%, -60%);
}

section.products > button > img {
    width: 35px;
    margin-left: 22px;
}

section.products > button > p {
    font-size: 1.2em;
    padding: 16px;
}

section.products > div.selection {
   position: absolute;
   width: 220px;
   height: 56px;
   border-radius: 30px;
   background-color: hsl(14, 86%, 42%);
   border: solid hsl(14, 86%, 42%);
   box-shadow: 2px 3px 4px rgba(95, 94, 94, 0.563);
   transform: translate(47%, -159%);
}

div.selection > button.increment {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    width: 22px;
    height: 22px;
    margin-left: 16px;
    margin-top: 13px;
}

div.selection > button.decrement {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    width: 22px;
    height: 22px;
    margin-left: 174px;
    margin-top: 13px;
}

section#cart > div.carbon > p {
    font-size: 16px;
}