@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text';
    background-color: hsl(20, 50%, 98%);
}

main#container {
    display: grid;
    justify-content: center;
}

main > header > h1{
    color: black;
    font-weight: bold;
    font-size: 2.7em;
    margin-bottom: 25px;
}

section.products {
    margin-bottom: 20px;
}

section.products > picture > img {
    width: 275px; 
    border-radius: 15px;
    transition: width 1s;
}

section.products > p {
    font-weight: 600;
    line-height: 30px;
    margin-top: -5px;
}

section.products > p.name {
    font-weight: 400;
    color: grey;
}

section.products > p.price {
    color: hsl(14, 86%, 42%);
}

section.products > button {
   display: flex;
   width: 170px;
   height: 45px;
   border-radius: 30px;
   background-color: white;
   border: solid white;
   box-shadow: 2px 3px 4px rgba(95, 94, 94, 0.382);
   transform: translate(30%, -60%);
   transition: width height transform 1s;
}

section.products > button > img {
    display: block;
    width: 28px;
    margin-left: 22px;
}

section.products > button:hover {
    background-color: hsl(14, 86%, 42%);
    border: solid hsl(14, 86%, 42%);
    cursor: pointer;
    transition: border, background-color, 0.5s;
}

section.products > button:hover > img {
    filter: brightness(0) invert(1);
    transition: filter, 0.5s;
}

section.products > button:hover > p {
    color: white;
    transition: color, 0.5s;
}

section.products > button > p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1em;
    padding: 14px;
}

section.products > div.selection {
   display: none;
   position: absolute;
   width: 170px;
   height: 46px;
   border-radius: 30px;
   background-color: hsl(14, 86%, 42%);
   border: solid hsl(14, 86%, 42%);
   box-shadow: 2px 3px 4px rgba(95, 94, 94, 0.563);
   transform: translate(30%, -159%);
   transition: width height transform 1s;
}

div.selection > button.increment {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-top: 8px;
}

div.selection > button.increment:hover {
    cursor: pointer;
    background-color: white;
    transition: background-color, 0.3s;
}

div.selection > button.increment:hover > img {
    filter: sepia(1) saturate(7) hue-rotate(-5deg) brightness(0.5) contrast(1.2);
}

div.selection > p.quantity {
    color: white;
    text-align: center;
    margin: auto;
}

div.selection > button.decrement {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    width: 22px;
    height: 22px;
    margin-left: 132px;
    margin-top: 8px;
}

div.selection > button.decrement:hover {
    cursor: pointer;
    background-color: white;
    transition: background-color, 0.3s;
}

div.selection > button.decrement:hover > img {
    filter: sepia(1) saturate(7) hue-rotate(-5deg) brightness(0.5) contrast(1.2);
}

div.selection > button.decrement > img {
    margin-bottom: 3px;
}

section#cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
}

section#cart > h1 {
    color: hsl(14, 86%, 42%);
    margin-bottom: 40px;
}

section#cart > h1 > p {
    display: inline-block;
}

section#cart > div.selectedprod 
{
    display: flex;
    justify-content: space-between;
}

section#cart > div.selectedprod > section > p.descri {
    color: hsl(14, 65%, 9%);
    font-weight: 600;
    margin-bottom: 5px;
}

section#cart > div.selectedprod > section > p.multi {
    display: inline-block;
    color: hsl(14, 86%, 42%);
    font-weight: 600;
    margin-right: 5px;
}

section#cart > div.selectedprod > section > p.pricecurrent {
    display: inline-block;
    color: hsl(14, 25%, 72%);
    font-weight: 600;
    margin-right: 5px;
}

section#cart > div.selectedprod > section > p.pricetotal {
    display: inline-block;
    color: hsl(7, 20%, 60%);
    font-weight: 600;
}

section#cart > div.selectedprod > div > button {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    min-height: 21px;
    padding-bottom: 1px;
    margin-top: 12px;
    border: 1px solid hsl(14, 25%, 72%);
    background-color: rgba(128, 128, 128, 0);
    border-radius: 80px;
}

section#cart > div.selectedprod > div > button:hover {
    cursor: pointer;
    border: 1px solid hsl(12, 20%, 44%);
}

section#cart > div.selectedprod > div > button:hover > img {
    filter: brightness(50%) saturate(0);
}
section#cart > hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid hsl(13, 31%, 94%);
}

section#cart > div.ordertotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

section#cart > div.ordertotal > p.total {
    font-weight: bold;
    font-size: 23px;
}

section#cart > div.carbon {
    display: flex;
    justify-content: center;
    background-color: hsla(14, 86%, 42%, 0.126);
    border: 0px solid;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
}

section#cart > div.carbon > img {
    margin-left: 8px;
    margin-right: 2px;
}

section#cart > div.carbon > p {
    display: inline-block;
    color: hsl(14, 86%, 42%);
    font-size: 12px;
    margin-top: 17px;
}

section#cart > button.confirm {
    background-color: hsl(14, 86%, 42%);
    color: white;
    height: 40px;
    border: 0px solid;
    border-radius: 40px;
}

section#cart > button.confirm:hover {
    cursor: pointer;
     background-color: hsl(14, 86%, 29%);
}

section#cart > .viewempty {
    display: flex;
    justify-content: center;
    
}

section#cart > img.empty {
    display: block;
    margin: auto;
}

div#background {
    display: flex;
    background-color: rgba(0, 0, 0, 0.315);
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

div#OrderConfirmed {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    line-height: 2.7em;
    margin-top: 100px;
    width: 100vw;
}

div#OrderConfirmed h1 {
    font-size: 2.3em;
}

div#OrderConfirmed p {
    color: hsl(7, 20%, 60%);
}


